In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
b1 = pd.DataFrame({'H' : [150, 160, 170, 175, 180],
    'W' : [58, 62, 65, 66, 190]
})
b1

     H    W
0  150   58
1  160   62
2  170   65
3  175   66
4  180  190

In [8]:
# Min-Max scaling
mn = b1.min()
mx = b1.max()
rg = mx - mn

mm = (b1-mn)/rg
mm.round(2)

      H     W
0  0.00  0.00
1  0.33  0.03
2  0.67  0.05
3  0.83  0.06
4  1.00  1.00

In [10]:
# Standardize (Z-Scaling)
mean = b1.mean()
sd = b1.std()
z = (b1-mean)/sd
z.round(2)

      H     W
0 -1.41 -0.53
1 -0.58 -0.46
2  0.25 -0.41
3  0.66 -0.39
4  1.08  1.79

In [11]:
# Robust scaling
median = b1['W'].median()
q1 = b1['W'].quantile(0.25)
q3 = b1['W'].quantile(0.75)
iqr = q3 - q1

rb = (b1['W']-median)/iqr
rb.round(2)

0    -1.75
1    -0.75
2     0.00
3     0.25
4    31.25
Name: W, dtype: float64

In [13]:
# One Hot encoding

b2 = pd.DataFrame({'Cities' : ['Dhaka', 'Chattogram', 'Dhaka', 'Rajshahi', 'Rajshahi']
})

c_encode = pd.get_dummies(b2['Cities'], prefix='City_', dtype=int)
b2_encoded = pd.concat([b2, c_encode], axis=1)

b2_encoded

       Cities  City__Chattogram  City__Dhaka  City__Rajshahi
0       Dhaka                 0            1               0
1  Chattogram                 1            0               0
2       Dhaka                 0            1               0
3    Rajshahi                 0            0               1
4    Rajshahi                 0            0               1

In [16]:
# Ordinal Encoding
b3 = pd.DataFrame({'Education' : ['High School', 'Bachelor', 'Master', 'Bachelor', 'Master']})

order = {'High School': 0, 'Bachelor': 1, 'Master':2}
b3['edu_encoded'] = b3['Education'].map(order).astype(int)

b3

     Education  edu_encoded
0  High School            0
1     Bachelor            1
2       Master            2
3     Bachelor            1
4       Master            2

In [18]:
# Vector
a = np.array([3, -1, 2])
b = np.array([4, 0, -2])
c = np.array([-6, 2, -4])

dot_ab = np.dot(a,b)
dot_ac = np.dot(a,c)

print(dot_ab)
print(dot_ac)

# Norms (Length or Magnitude of a Vector) 
l2_norm = np.linalg.norm(a)
print(l2_norm)

# Normalizing a Vector (Unit Vector)
unit_a = a/l2_norm
print(np.round(unit_a, 3))

8
-28
3.7416573867739413
[ 0.802 -0.267  0.535]

In [7]:
p1 = np.array([2, 3])
p2 = np.array([5, 7])
p3 = np.array([2, 10])

# Euclidean Distance (L2)
eu1 = np.linalg.norm(p1 - p2)
eu2 = np.linalg.norm(p2 - p3)
eu3 = np.linalg.norm(p1 - p3)

print("pair 1 =", np.round(eu1, 3))
print("pair 2 =", np.round(eu2, 3))
print("pair 3 =", np.round(eu3, 3))
print()

# Manhattan Distance (L1)
ma1 = np.linalg.norm(p1 - p2, ord=1)
ma2 = np.linalg.norm(p2 - p3, ord=1)
ma3 = np.linalg.norm(p1 - p3, ord=1)

print("pair 1 =", np.round(ma1, 3))
print("pair 2 =", np.round(ma2, 3))
print("pair 3 =", np.round(ma3, 3))

pair 1 = 5.0
pair 2 = 4.243
pair 3 = 7.0

pair 1 = 7.0
pair 2 = 6.0
pair 3 = 7.0