In [3]:
#Tuple
tup = (10, 20, 50)
print(type(tup), tup)

float_tup = (30, 50.5, 45.5, 100.5)
print(float_tup)

mixed_tup = ("Ratul", 100, 25.75)
print(mixed_tup)

<class 'tuple'> (10, 20, 50)
(30, 50.5, 45.5, 100.5)
('Ratul', 100, 25.75)

In [4]:
#List to tuple
lst = [10, 20, 30, 60]
tup1 = tuple(lst)
print(tup1)

(10, 20, 30, 60)

In [6]:
#Access
tup2 = (20.5, 100, 15.5, "str", True)

print(tup2[2])

new_tup2 = tup2[0:3]
print(new_tup2)

15.5
(20.5, 100, 15.5)

In [ ]:
# Tuple Immutable, List Mutable
tup3 = (30, 70, 90)
tup3[0] = 100
print(tup3)

In [9]:
# Tuple Methods
tup4 = (10, 20, 30, 10, 10, 10)

print(tup4.count(10))
print(tup4.index(30))

4
2