In [1]:
# Set
A = {1, 2, 1, 3, 4}
print(type(A), A)

<class 'set'> {1, 2, 3, 4}

In [5]:
# Empty data structure

B = []      #Empty List
print(type(B))

C = ()      #Empty Tuple
print(type(C))

D = {}      #Empty Dictionary not set
print(type(D))

E = set()   #Empty Set
print(type(E))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [4]:
#Iteration
st = {1, 5, 6, 1, 3, 5}

for x in st:
    print(x, end=" ")

#Access
if 5 in st:
    print(True)
else:
    print(False)

1 3 5 6 True

In [10]:
#Adding and removing from set
st1 = {10, 20 , 35}

print(st1)

st1.add(0)
st1.add(5)
print(st1)

st1.pop()
print(st1)
st1.pop()
print(st1)

st1.remove(10)
print(st1)

{10, 35, 20}
{0, 35, 5, 10, 20}
{35, 5, 10, 20}
{5, 10, 20}
{5, 20}

In [5]:
## Set Mathematical methods
x = {1, 2, 3}
y = {1, 2, 3, 4, 5, 6}
print(x.union(y))
print(x.intersection(y))

print(x.isdisjoint(y)) ## Disjoint mena's No common point

print(x.issubset(y)) ## does all element of x is in y

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
False
True