In [11]:
import numpy as np
import pandas as pd
rng = np.random.default_rng(42)

def generate_students(n=200, seed=42):
 	rng = np.random.default_rng(seed)
 	hours_studied = rng.normal(5, 2, n).clip(1, 10)
 	marks = (hours_studied * rng.uniform(8, 12, n) + rng.normal(0, 5, n)).clip(30, 100)
 	gender = rng.choice(['Male', 'Female'], n)
 	subject = rng.choice(['Math', 'Science', 'English', 'History'], n)
 	study_method = rng.choice(['Solo', 'Group'], n, p=[0.6, 0.4])
 	attempts = rng.integers(1, 4, n)
 	return pd.DataFrame({
     	'hours_studied': hours_studied.round(2),
     	'marks': marks.round(2),
     	'gender': gender,
     	'subject': subject,
     	'study_method': study_method,
     	'attempts': attempts
 	})

def generate_daily_sales(n=60, seed=42):
 	rng = np.random.default_rng(seed)
 	base = pd.date_range(start='2024-01-01', periods=n, freq='D')
 	trend = np.linspace(50, 80, n)
 	season = 8 * np.sin(np.linspace(0, 3*np.pi, n))
 	noise = rng.normal(0, 3, n)
 	sales = (trend + season + noise).round(2)
 	return pd.DataFrame({'date': base, 'sales': sales})

# Example usage
students = generate_students(220)
sales = generate_daily_sales(90)

In [12]:
print(students)

     hours_studied  marks  gender  subject study_method  attempts
0             5.61  54.04    Male  English         Solo         2
1             2.92  30.00  Female  Science         Solo         2
2             6.50  70.46  Female  History        Group         3
3             6.88  52.76  Female  English        Group         3
4             1.10  30.00  Female  History         Solo         1
..             ...    ...     ...      ...          ...       ...
215           7.01  70.66  Female  English         Solo         1
216           6.08  67.32    Male     Math        Group         2
217           7.67  65.64    Male  Science         Solo         1
218           4.69  41.90    Male     Math         Solo         1
219           3.61  42.19  Female  History         Solo         1

[220 rows x 6 columns]